.customer-list {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}


.directions_btn {
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  width: 6em;
  margin: 5px;
}

@media (min-width: 768px) {
  .customer-list {
    max-width: 500px;
  }
}

table {
  border: 1px solid grey;
}
thead th {
  margin: auto 5px;
  padding: 5px;
  /* border-bottom: 1px solid grey; */
}
tbody td {
    /* border-bottom: 1px solid grey; */
    border-top: 1px solid grey;
    margin: 5px;
    
}
tr{
    border: 1px solid grey;

}
tr button{
    margin: auto;
}
tr td {
  margin: auto 4px;
}
